
$theme-colors: (
  "primary": #cc6600,
  "danger": #ff4136
);

$body-bg: #212121;

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";


.text-light {
  color: $gray-100;
}

.text-muted {
  color: $gray-300;
}
.container {
	background-color: #454545;
}

.form-control {
	background-color: #212121;
}

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";