
body{
  background-color: #212121;
  font-family: Roboto;
}
#header{
  color: #212121;
  font-size: 100px;
  position: static;
  background-color: #cc6600;
  height: 200px;
  width: 100%;
  margin: 0px;
}

#logo{
  height: 150px;
  width: 150px;
}

#cuerpo{
  position: static;
  color: #212121;
  background-color: #cc6600;
  height: 800px;
  width: 100%;
}

.parrafos{
  padding-left: 20px;
}
